.row{
	@extend %clearfix;
}

.col33 {
	@include breakpoint($break) {
		@include grid-span(2, 1);
		&.center{
			@include grid-span(2, 3);
		}
		&.right{
			@include grid-span(2, 5);
		}
	}
}
.col66 {
	@include breakpoint($break) {
		@include grid-span(4, 1);
		&.right{
			@include grid-span(4, 3);
		}
	}
}
.col50 {
	@include breakpoint($break) {
		@include grid-span(3, 1);
		&.right{
			@include grid-span(3, 4);
		}
	}
}
.col100 {
	@include breakpoint($break) {
		@include grid-span(6, 1);
	}
}