<div class="row">
	<div class="col100">
		<f:if condition="{settings.100-66-33-100.slideHeader}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.2')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.2')}</f:else>
		</f:if>
	</div>
</div>
<div class="row">
	<main class="col66">
		<f:if condition="{settings.100-66-33-100.slideMain}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.0')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.0')}</f:else>
		</f:if>
	</main>
	<aside class="col33 right">
		<f:if condition="{settings.100-66-33-100.slideAside}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.1')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.1')}</f:else>
		</f:if>
	</aside>
</div>
<div class="row">
	<div class="col100">
		<f:if condition="{settings.100-66-33-100.slideFooter}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.3')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.3')}</f:else>
		</f:if>
	</div>
</div>