<div class="row">
	<main class="col100">
		<f:if condition="{settings.100.slideMain}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.0')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.0')}</f:else>
		</f:if>
	</main>
</div>