<div class="row">
	<div class="col33">
		<f:if condition="{settings.33-33-33.slideLeft}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.0')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.0')}</f:else>
		</f:if>
	</div>
	<div class="col33 center">
		<f:if condition="{settings.33-33-33.slideCenter}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.1')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.1')}</f:else>
		</f:if>
	</div>
	<div class="col33 right">
		<f:if condition="{settings.33-33-33.slideRight}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.2')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.2')}</f:else>
		</f:if>
	</div>
</div>