<div class="row">
	<main class="col66 right">
		<f:if condition="{settings.33-66.slideMain}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.0')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.0')}</f:else>
		</f:if>
	</main>
	<aside class="col33">
		<f:if condition="{settings.33-66.slideAside}">
			<f:then>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.slideContent.1')}</f:then>
			<f:else>{f:cObject(typoscriptObjectPath: 'plugin.tx_distributionhelper.content.1')}</f:else>
		</f:if>
	</aside>
</div>